body{
    margin: 0px;
}

h1 {
    color: red;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(60, 152, 92);
    padding: 20px;
    text-align: center;
    box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size:20px
}
.navbar a:hover{
    color:blue;
    background:green;
}
.body{
    background-color: rgb(149, 163, 175);
}
.card{
    border:1px solid blue;
    width:300px;
    border-radius:30px;
    text-align: center;
    margin-top:70px;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
    background-color: rgb(191, 191, 213);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card img{
    width:100%;
}
.card button{
    border-style: none;
    padding:10px;
    width: 80%;
    border-radius: 8px;
    
}
button{
    background-color: pink;
}
